<!Doctype html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatable" content="ie-edge">
        <title>COSC331 Project 2</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
        <script type="text/javascript" src="src/views/frontend.js"></script>
    </head>

    <body>
        <h1>Contacts</h1>
        <ul id="list"></ul>
        <p>First Name: <input type="text" id="fname"></p>
        <p>Last Name: <input type="text" id="lname"></p>
        <p>Phone Number: <input type="number" id="phone"></p>
        <p>Email: <input type="text" id="email"></p>
        <p>Company Name: <input type="text" id="company"></p>
        <button id="add">Add</button>
        <p>Id: <input type="text" id="id"></p>
        <button id="del">Delete User</button>
        <button id="put">Update User</button>
    </body>
</html>